<main style="padding-bottom: 25px;" class="bootstrap-v5">
  <section id="hero" class="container">
    <img src="/assets/home-hero2.png" alt="boyscout background" />
  </section>
  <div class="container mt-4">
    <!-- Recently Added Courses -->
    <section class="recently-added-courses">
      <h2 class="section-heading mb-4 mt-4 mt-4">Recently Added Courses</h2>
      <div class="row">
        {{#if recentCourses}}
        {{#each recentCourses}}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <div class="box-displaying-course-card">
            <a href="/course/{{_id}}">
              <img width="100px" height="100px" alt="Course 1" class="box-displaying-course-card-thumb"
                src="{{courseImg}}" />
            </a>

            <div class="d-flex justify-content-between flex-column mt-3 mb-3">
              <div class="box-displaying-course-card-category">
                {{category}}
              </div>
            </div>
            <h4 class="box-displaying-course-card-title line-clamp">
              {{title}}
            </h4>
            <p class="box-displaying-course-card-createdBy line-clamp">
              {{user.firstName}} {{user.lastName}}
            </p>
            <p class="box-displaying-course-card-price">${{price}}</p>
            <p class="box-displaying-course-card-time">Uploaded on {{createdAt}}</p>
          </div>
        </div>
        {{/each}}
        {{else}}
        <p class="section-notification">No course is added recently.</p>
        {{/if}}
      </div>
    </section>

    <!-- Our Featured Courses -->
    <section class="featured-courses">
      <h2 class="section-heading mb-4 mt-4">Our Featured Courses</h2>
      <div>
        {{#each featuredCourses}}
        <div class="feature-course-card d-flex align-items-center">
          <a style="text-decoration: none;" href="/course/{{_id}}" class="course-image mr-3">
            <img src="{{courseImg}}" class="{{title}}" alt="Course 2" />
          </a>
          <div class="course-info flex-grow-1">
            <a style="text-decoration: none; color: inherit;" href="/course/{{_id}}" class="course-title">
              {{title}}
            </a>

            <div class="course-category">
              {{category}}
            </div>
            <div class="course-price ml-auto">
              ${{price}}
            </div>
            <div class="course-details d-flex align-items-center gap-2 mb-1">
              <span class="mr-3">
                <img src="{{user.profileImg}}" alt="Instructor"
                  style="width: 20px; height: 20px; border-radius: 50%;" />
                {{user.firstName}}
                {{user.lastName}}
              </span>
              <span class="mr-3"><i class="fa fa-heart"></i>
                {{favUsers.length}}
              </span>
              <span class="mr-3"><i class="fa fa-user"></i>
                {{enrolledUsers.length}}
              </span>
              <span class="mr-3"><i class="fa fa-signal"></i>
                {{level}}</span>
              <span><i class="fa fa-clock-o"></i> 6 hours</span>
            </div>
          </div>
          {{#if isInstructor}}

          {{/if}}
          <div class="d-flex btns align-items-center ml-3">
            <!-- Wishlist Button -->
            <form action="/course/fav/{{_id}}" method="POST" class="d-inline mr-2">
              <input type="hidden" name="courseId" value="{{_id}}" />
              <button type="submit" class="btn-wishlist">
                {{!-- btn-outline-danger --}}
                {{#if addedToWishlist}} X Remove Wishlist {{else}}
                <i class="fa fa-heart"></i>
                Add to Wishlist

                {{/if}}
              </button>
            </form>

            <!-- Add to Cart Button -->
            <form style="margin-top: 5px;" action="/course/cart/{{_id}}" method="POST" class="d-inline">
              <button type="submit" class="btn-add-to-cart">
                {{#if addedToCart}} X Remove Cart {{else}} <i class="fa fa-shopping-cart"></i>
                Add to Cart {{/if}}
              </button>
            </form>
          </div>
        </div>
        {{/each}}
      </div>
    </section>

    <!-- Category -->
    <section class="homepage-category" id="category">
      <h3 class="section-heading mt-4 mb-4">Top categories</h3>
      <div class="category-content">
        <div class="category-box">
          <img src="/assets/badges/wilderness_survival.png" alt="woods badge" />
          <h5 class="category-title"> Wilderness Survival</h5>
        </div>
        <div class="category-box">
          <img src="/assets/badges/teamwork.png" alt="teamwork badge" />
          <h5 class="category-title">Teamwork</h5>
        </div>
        <div class="category-box">
          <img src="/assets/badges/stem1.png" alt="badge" />
          <h5 class="category-title">STEM</h5>
        </div>

        <div class="category-box">
          <img src="/assets/badges/knot.png" alt="knots badge" />
          <h5 class="category-title">Knots and Lashings</h5>
        </div>
      </div>
    </section>

    <!-- Newly Onboard Instructors-->
    <section class="newly-onboard-instructors">
      <h2 class="section-heading mb-4 mt-4">Newly Onboard Instructors</h2>

      {{#if newlyInstructors}}
      <div class="instructor-content">
        {{#each newlyInstructors}}
        <div class="instructor-box">
          <img src="{{profileImg}}" alt={{firstName}} />
          <p class="instructor-name">
            {{firstName}} {{lastName}}
          </p>
          <p class="role">{{jobTitle}}</p>
        </div>
        {{/each}}
      </div>
      {{else}}
      <p class="section-notification">No instructor is newly onboard recently.</p>
      {{/if}}
    </section>

    <!--Featured Instructor-->
    <section class="featured-instructor">
      <h2 class="section-heading mb-4 mt-4">Our Learners Favourite</h2>

      {{#if topInstructors}}
      <div class="instructor-content container">
        {{#each topInstructors}}
        <div class="instructor-box">
          <img src="{{instructor.profileImg}}" alt="" />
          <p class="instructor-name">
            {{instructor.firstName}} {{instructor.lastName}}
          </p>
          <div class="meta-info">
            <p><i class="fa fa-briefcase"></i> Role: {{instructor.jobTitle}}</p>
            <p><i class="fa fa-book"></i> {{instructor.courses.length}} courses</p>
            <p><i class="fa fa-calendar"></i> Date joined: {{instructor.createdAt}}</p>
          </div>
          <div>
            <button class="btn btn-outline-danger btn-sm instructor-btn">
              <i class="fa fa-heart">
              </i>
              Like
            </button>
            <button class="btn btn-outline-primary btn-sm instructor-btn">
              <i class="ion-information-circled"></i>
              View
            </button>
          </div>
        </div>
        {{/each}}
      </div>
      {{else}}
      <p class="section-notification">No instructor is currently on learner favorite.</p>
      {{/if}}
    </section>
  </div>
</main>