<main class="learner-view-wishlist bootstrap-v5">
  <div class="learner-view-wishlist__header">
    <div class="container">
      <h1 class="learner-view-wishlist__heading">My Learning</h1>
      <div class="learner-view-wishlist__navbar-container">
        <ul class="learner-view-wishlist__navbar">
          <li class="learner-view-wishlist__item">
            <a class="learner-view-wishlist__item-link" href="/learner/my-courses/purchased">Purchased</a>
          </li>

          <li class="learner-view-wishlist__item">
            <a class="learner-view-wishlist__item-link" href="/learner/my-courses/trial">On Trial</a>
          </li>

          <li class="learner-view-wishlist__item active">
            <a class="learner-view-wishlist__item-link">Wishlist</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  {{! Wishlist Courses }}
  {{#each courses}}
  <div class="learner-view-wishlist__courses-container">
    <div class="container">
      <div class="learner-view-wishlist__courses-content">
        <div class="row">
          <div class="col-12">
            <div class="horizontal-displaying-courses-card d-flex">
              <div class="horizontal-displaying-courses-card-thumb">
                <a href="#">
                  <img src="{{this.courseImg}}" class="image" alt="{{this.title}}" />
                </a>
              </div>
              <div class="horizontal-displaying-courses-card-content">
                <div class="horizontal-displaying-courses-card-info">
                  <h2 class="title">{{this.title}}</h2>
                  <span class="category">{{this.category}}</span>
                  <div class="details">
                    <span><i class="mr-3 fa fa-clock-o"></i> 6 hours</span>
                    <span><i class="mr-3 fa fa-signal"></i>
                      {{this.level}}</span>
                    <span><i class="mr-3 fa fa-heart"></i>
                      {{this.favUsers.length}}</span>
                    <span><i class="mr-3 fa fa-user"></i>
                      {{this.enrolledUsers.length}}</span>
                  </div>
                </div>
                <span class="horizontal-displaying-courses-card-price">
                  ${{this.price}}
                </span>
                <div class="horizontal-displaying-courses-card-action ml-3">
                  <form action="/course/{{_id}}" method="GET">
                    <button class="btn btn-outline-primary"><i class="ion-information-circled"></i>
                      View</button>
                  </form>

                  <form action="/course/cart/{{_id}}" method="POST">
                    <button class="btn btn-outline-primary">
                      {{#if addedToCart}} X Cart {{else}}
                      <i class="fa fa-shopping-cart"></i>
                      Cart
                      {{/if}}
                    </button>
                  </form>

                  <form action="/course/fav/{{_id}}" method="POST" id="removeFromWishlist">
                    <button class="btn btn-outline-danger deleteCourseButton">
                      <i class="fa fa-trash"></i>
                      Remove
                    </button>
                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/each}}

  <!-- Hidden form -->
  <form method="POST" name="deleteCourseForm"></form>
</main>

<!-- MODAL SCRIPT -->
<!-- Handling the delete course in another script tag above -->
<script>
  const deleteButtons = document.querySelectorAll(".deleteCourseButton"); const
    deleteCourseModal = document.getElementById("deleteConfirmationModal"); const
      cancelConfirmButton = document.getElementById("cancelConfirmButton"); const
        deleteConfirmButton = document.getElementById("deleteConfirmButton");
  deleteButtons.forEach((button) => {
    button.addEventListener("click", () => {
      deleteCourseModal.classList.add("active"); deleteCourseModal.style.display =
        "block";
    });
  }); deleteConfirmButton.addEventListener("click", () => {
    deleteCourseModal.classList.add("slideOut"); setTimeout(() => {
      deleteCourseModal.classList.remove("active", "slideOut");
      deleteCourseModal.style.display = "none";
    }, 500);
  });
  cancelConfirmButton.addEventListener("click", () => {
    deleteCourseModal.classList.add("slideOut"); setTimeout(() => {
      deleteCourseModal.classList.remove("active", "slideOut");
      deleteCourseModal.style.display = "none";
    }, 500);
  });
  window.addEventListener("click", (event) => {
    if (event.target ===
      deleteCourseModal) {
        deleteCourseModal.classList.add("slideOut");
      setTimeout(() => {
        deleteCourseModal.classList.remove("active", "slideOut");
        deleteCourseModal.style.display = "none";
      }, 500);
    }
  });
</script>